@font-face {
  font-family: PoppinsMedium;
  src: url("./Assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: HurmeBold;
  src: url("./Assets/fonts/Hurme\ Geometric\ Sans\ 4\ W00\ Bold.ttf");
}

body {
  margin: 0;
  box-sizing: border-box;
  max-width: 1440px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 152px;
}

.logo__container {
  width: 164px;
  height: 56px;
}

.title__container button {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 56px;
  cursor: pointer;
}

.title__container button:first-child {
  color: #91b2cb;
  margin-right: 56px;
}
.title__container button:last-child {
  margin-right: 0;
}

.title__container button::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  margin-top: -8px;
  background: #91b2cb;
  transition: width 0.3s;
}

.title__container-first-button::after {
  width: 100%;
}

.title__container button:hover::after {
  width: 100%;
}

.header__banner {
  position: relative;
  display: flex;
  justify-content: center;
}

.header__banner {
  position: relative;
}

.header__banner-dog {
  margin: 0;
  width: 100vw;
  height: auto;
}

.header__banner-heart {
  position: absolute;
  height: 258px;
  width: 180px;
  top: 292px;
  right: 150px;
  transform: translate(150px, 292px);
  animation: UpAndDown 2s linear infinite;
}

@keyframes UpAndDown {
  0%,
  100% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(25px);
  }
}

.info__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 194px 152px;
  position: relative;
}

.info__section-container {
  border-radius: 24px;
  background-color: #f6f6fb;
  padding: 48px 96px;
  display: flex;
  width: 100%;
}

.info__section-container-title {
  font-family: PoppinsMedium;
  font-weight: 500;
  font-size: 39.06px;
  line-height: 56px;
  color: #2b343a;
  margin-bottom: 24px;
}
.info__section-container-text {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  max-width: 400px;
}

.info__section-bulldog-background {
  position: absolute;
  right: 152px;
}

.info__section-bulldog {
  position: absolute;
  right: 213.19px;
  transform: translateY(15px);
}

.posts {
  display: flex;
  flex-direction: column;
  padding: 0px 248px;
}

.posts__heading-container {
  display: flex;
  align-items: center;
}

.posts__heading-container-title {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 39.06px;
  line-height: 56px;
  margin-right: 9px;
  color: #2b343a;
}

.posts__heading-container-arrow {
  color: #2b343a;
  width: 24px;
  height: 24px;
}

.posts__container {
  display: flex;
  background-color: #f6f6fb;
  border-radius: 24px;
  padding: 39px;
  margin-bottom: 32px;
}

.posts__container:last-child {
  margin-bottom: 0px;
}

.posts__container-image {
  width: 393px;
  height: 320px;
  border-radius: 24px;
  margin-right: 77px;
}

.posts__container-date {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7b7b7e;
  margin-bottom: -10px;
}

.posts__container-title {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #2b343a;
}

.posts__container-text {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #2b343a;
}

.posts__container-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: -10px;
}

.posts__container-button-text {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #91b2cb;
  margin-right: 5px;
}

.posts__container-button-arrow {
  width: 16px;
  height: 16px;
}

.bottom__section {
  padding: 149px 245px 198px 185px;
  position: relative;
}

.bottom__section-text {
  position: absolute;
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 39.06px;
  line-height: 56px;
  color: #2b343a;
  max-width: 578px;
  z-index: 1;
  transform: translate(63px, 75px);
}

.bottom__section-animals {
  position: absolute;
  top: 0;
  transform: translate(63px, 256px);
}

footer {
  background-color: #b6cbdb;
  padding: 68px 150px;
}
.footer__text {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #fefefe;
  margin: 0;
}
