* {
  margin: 0;
  box-sizing: border-box;
}

.animal__details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 88px 208px 107px;
}

.animal__details-background {
  position: absolute;
  top: 0;
  width: 100%;
}

.animal__details-container {
  background-color: #fdfffd;
  padding: 42px 40px;
  border-radius: 24px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.animal__details-info-container {
  display: flex;
}

footer {
  margin-top: 110px;
}

@media screen and (max-width: 1024px) {
  .animal__details-background {
    display: none;
  }

  .animal__details {
    padding: 40px 24px 40px;
  }
}

@media screen and (max-width: 1000px) {
  .animal__details-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 464px) {
  footer {
    margin-top: 0;
  }
}
