footer {
  background-color: #b6cbdb;
  padding: 68px 150px;
}
.footer__text {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #fefefe;
  margin: 0;
}
