@font-face {
  font-family: PoppinsMedium;
  src: url("../../../assets/fonts/Poppins-Medium.ttf");
}

.gallery {
  display: flex;
  margin: auto;
}

.first-animal {
  height: 340px;
  width: 464.94px;
  object-fit: cover;
  border-radius: 24px;
  margin-right: 13.06px;
}

.gallery-container-grid {
  display: grid;
  grid-template:
    ". ."
    ". .";
  grid-gap: 13.06px;
  position: relative;
}
.gallery-container {
  cursor: pointer;
}
.gallery-container:hover > .gallery-container-grid {
  animation: Blur 0.5s ease-in-out forwards;
}

@keyframes Blur {
  0% {
    filter: none;
  }
  100% {
    filter: blur(5px);
  }
}

.search-bar-container {
  position: absolute;
  z-index: 1;
  top: 135px;
  right: 19.5%;
}

.search-bar-container--hovered {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: calc(100% - 585px);
  top: 275px;
  z-index: 2;
}

.search-text {
  display: none;
}

.search-text--hovered {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #2b343a;
  animation: none !important;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgba(253, 255, 253, 0.5);
  border-radius: 50%;
}

.search {
  width: 16px;
  height: 16px;
}

.search--hovered {
  width: 24px;
  height: 24px;
}

.gallery-image {
  border-radius: 24px;
  width: 224px;
  height: 162px;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {
  .search-bar-container {
    right: 13.5%;
  }

  .search-bar-container--hovered {
    right: 17%;
  }
}

@media screen and (max-width: 1200px) {
  .search-bar-container {
    right: 11%;
  }

  .search-bar-container--hovered {
    right: 10.5%;
  }
}

@media screen and (max-width: 1050px) {
  .search-bar-container {
    top: 89px;
    right: 50px;
  }

  .search-bar-container--hovered {
    left: 580px;
    top: 225px;
  }
}

@media screen and (max-width: 1024px) {
  .search-bar-container {
    top: 89px;
  }

  .search-bar-container--hovered {
    top: 225px;
  }
}

@media screen and (max-width: 1000px) {
  .first-animal {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }

  .gallery-image {
    width: 204px;
    height: 142px;
  }

  .search-bar-container--hovered {
    left: 510px;
    top: 200px;
  }

  .search-bar-container {
    right: 30px;
  }
}

@media screen and (max-width: 880px) {
  .first-animal {
    width: 350px;
    height: 250px;
  }

  .gallery-image {
    width: 184px;
    height: 122px;
  }

  .search-bar-container--hovered {
    left: 450px;
    top: 180px;
  }
}

@media screen and (max-width: 780px) {
  .gallery {
    display: flex;
    flex-direction: column;
  }

  .search-bar-container--hovered {
    display: none;
  }

  .gallery-container-grid {
    display: flex;
  }

  .first-animal {
    width: 506px;
    height: 404px;
    margin-bottom: 24px;
  }

  .gallery-image {
    width: 115.77px;
    height: 110px;
  }

  .gallery-container:hover > .gallery-container-grid {
    animation: none;
  }

  .search-bar-container {
    right: 140px;
  }
}

@media screen and (max-width: 700px) {
  .search-bar-container {
    right: 100px;
  }
}

@media screen and (max-width: 650px) {
  .search-bar-container {
    right: 75px;
  }
}

@media screen and (max-width: 570px) {
  .first-animal {
    width: 366px;
    height: 264px;
  }

  .gallery-image {
    width: 85.77px;
    height: 80px;
  }

  .gallery-container-grid {
    grid-gap: 7px;
  }
}

@media screen and (max-width: 464px) {
  .search-box {
    width: 64px;
    height: 64px;
  }

  .search {
    width: 32px;
    height: 32px;
  }

  .search-bar-container {
    right: 35px;
  }
}
