@font-face {
  font-family: PoppinsMedium;
  src: url("../../../assets/fonts/Poppins-Medium.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

.animal__photos {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.animal__photos-container {
  border-radius: 24px;
  background-color: #fdfffd;
  padding: 16px;
}

.animal__photos-container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.animal__photos-container-title div {
  display: flex;
  align-items: center;
}

.animal__photos-container-title p {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #2b343a;
  margin-right: 8px;
  user-select: none;
}

.animal__photos-container-title img {
  user-select: none;
}

.dog-image {
  width: 463.69px;
  height: 347.36px;
  border-radius: 24px;
  user-select: none;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.arrow-container svg {
  cursor: pointer;
}

.left-arrow,
.right-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #91b2cb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow:active,
.right-arrow:active {
  transform: translateY(4px);
}
.left-arrow {
  margin-right: 24px;
}

.right-arrow {
  margin-left: 24px;
}

@media screen and (max-width: 650px) {
  .left-arrow,
  .right-arrow {
    display: none;
  }

  .animal__photos-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .animal__photos-container-title {
    padding: 16px;
  }

  .dog-image {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}
