@font-face {
  font-family: PoppinsMedium;
  src: url("./Assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: HurmeBold;
  src: url("./Assets/fonts/Hurme\ Geometric\ Sans\ 4\ W00\ Bold.ttf");
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 152px;
}

.logo__container {
  width: 164px;
  height: 56px;
}

.title__container button {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 56px;
  cursor: pointer;
}

.title__container button:nth-child(2) {
  color: #91b2cb;
  margin-right: 56px;
}
.title__container button:last-child {
  margin-right: 0;
}

.title__container button::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  margin-top: -8px;
  background: #91b2cb;
  transition: width 0.3s;
}

.title__container-first-button::after {
  width: 100%;
}

.title__container button:hover::after {
  width: 100%;
}

.animal__details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 88px 208px 107px;
}

.animal__details-background {
  position: absolute;
  top: 0;
  width: 100%;
}

.animal__details-container {
  background-color: #fdfffd;
  padding: 42px 40px;
  border-radius: 24px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.animal__details-container-images {
  display: flex;
}

.first-dog {
  height: 340px;
  width: auto;
  border-radius: 24px;
  margin-right: 13.06px;
}

.animal__details-container-image-gallery {
  display: grid;
  grid-template:
    ". ."
    ". .";
  grid-gap: 13.06px;
}

.animal__details-container-image-gallery img {
  border-radius: 24px;
  width: 224px;
  height: 162px;
  object-fit: cover;
}

.animal__details-animal-info-name {
  display: flex;
  align-items: center;
}
.animal__details-animal-info p {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2b343a;
}

.animal__details-animal-info span {
  font-weight: normal;
}

.shelter-info {
  text-decoration-line: underline;
  color: #91b2cb;
  cursor: pointer;
}

.animal-description {
  display: block;
  width: 416px;
  margin-top: 10px;
  margin-bottom: 26px;
}

.animal__details-animal-info-name p {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 39.06px;
  line-height: 48px;
  color: #2b343a;
  margin-right: 8px;
}

.animal__details-animal-info-name img {
  width: 57.07px;
  height: 56px;
}

.check-box,
.cross-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #b3ddcc;
}
.cross-box {
  background-color: #e298ab;
}
.check {
  width: 19.2px;
  height: 19.2px;
}
.cross {
  width: 14px;
  height: 14px;
}

.animal__details-animal-info-check {
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.animal__details-animal-info-check span {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #2b343a;
  margin-left: -16px;
}

.animal__details-animal-info-check-container {
  display: flex;
}

.animal__details-animal-info-check-container div:first-child {
  margin-right: 32px;
}
