@font-face {
  font-family: PoppinsMedium;
  src: url("../Assets/fonts/Poppins-Medium.ttf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

.form__modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(43, 52, 58, 0.55);
}

.form__modal-container {
  border-radius: 24px;
  background-color: #fdfffd;
  padding: 32px 40px;
}

.form__modal-container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.form__modal-container-title div {
  display: flex;
  align-items: center;
}

.form__modal-container-title p {
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: #2b343a;
  margin-right: 8px;
}

.form__modal-container-input div {
  display: grid;
  grid-template:
    ". ."
    ". .";
  grid-gap: 16px;
  margin-bottom: 16px;
}

.modal-input {
  background: #fdfffd;
  border: 2px solid #91b2cb;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px 24px;
  width: 360px;
  outline: none;
}

textarea {
  background: #fdfffd;
  border: 2px solid #91b2cb;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px 24px;
  width: 100%;
  resize: none;
  outline: none;
  margin-bottom: 24px;
}

.form__modal-container-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form__modal-container-button button {
  background: #91b2cb;
  border-radius: 50px;
  padding: 16px 76px;
  font-family: PoppinsMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #fdfffd;
  border: none;
  outline: none;
}
